@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.eot'); /* IE 9 Compatability modes */
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embeded-opentype'), /* IE 6-8 */ 
    url('fonts/OpenSans-Regular.woff2') format('woff2'), /* Super modern browsers (pretty much just Chrome right now) */
    url('fonts/OpenSans-Regular.woff') format('woff'), /* Modern browsers */
    url('fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, iOS, Android */
    url('fonts/OpenSans-Regular.svg') format('svg'); /* Safari, iOS legacy */
}

body {
    background-color: hsl(270,100%,50%);
}

div {
    font-family: OpenSans, Verdana, Geneva, Tahoma, sans-serif;
}

p {
    background-color: deepskyblue;
}

div {
    border: 3px solid rebeccapurple;
}

.bananas {
    background-color: yellow;
    color: brown;
}

#hat {
    background-color: green;
    width: 200px;
    height: 200px;
    box-shadow: 0 -10px 5px aqua;
}

[href] {
    text-decoration: none;
}

[href="http://www.sky.com"] {
    font-size: 2em;
}

a[href*="qa"] {
    color: red;
}

[href^="ftp"] {
    text-transform: uppercase;
}

li > [href$=".pdf"] {
    color: rgba(255,255,0,1)
}

li+li {
    text-shadow: 3px 3px white;
}

ul:first-child li:first-child {
    text-shadow: 3px 3px #987654;
}

/* 4th child */
ul:nth-child(4) li:first-child {
    text-shadow: 3px 3px #987654;
}

ul:first-of-type li:first-child {
    text-shadow: 3px 3px #987654;
}

li ~ li {
    background: gold !important;
}

::selection {
    background:hotpink;
}

/* counter */
body {
    counter-reset: paragraph;
}

p::before {
    counter-increment: paragraph;
    content: counter(paragraph) ". ";
}