html, body {
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
    background-color: pink;
    width: 30%;
    height: 200px;
    /* overflow: auto; */
    /* all margind */
    /* margin: 20px; */

    /* top/bottom left/right */
    /* margin: 10px 50px; */
    /* margin: 0 auto; */

    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px; */

    /* padding: 30px;
    border: 3px dashed gold;
    border-right: 3px solid green; */

    overflow: hidden;

    /* display: inline-block; */
    /* float: left; */
}
/* float moves an element down the page until it's left/right side is clear of floated elements */
/* div:nth-child(2) {
    border: 1px solid red;
    clear: both;
    float: none;
} */

span {
    background: deepskyblue;
    width: 50%;
    height: 300px;
    

    /* background: url('./vista.jpg') no-repeat; */
    /* these are the same as the compound rule above */
    /* background-image: url('./vista.jpg');
    background-repeat: no-repeat; */
}