body,html {
    height: 100%;
}

div {
    height: 200px;
}

div img {
    position: relative;
    left: 0;
    top: 0;
    transition: all 3s ease-in-out;
}


div:hover img {
    left: 100%;
    top: 10%;
}

/* selects div inside img whilst being hovered */
/* img:hover div */
/* selects img whilst being hovered inside div */
/* div img:hover  */